<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="~/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PodioSyncer</title>
    <link rel="manifest" href="~/manifest.json" />
    <meta name="description"
          content="Web site for syncing Podio items" />
    <link rel="apple-touch-icon" href="logo192.png" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" href="~/bundles/css/app.css" asp-append-version="true"/>
</head>
<body style="background-color: #f4f4f4">

    @RenderBody()

    <script src="~/bundles/app.js" asp-append-version="true"></script>
    <script>
        var jsonRoutes = {
            getpodioapps: '@Url.Action("GetPodioApps", "Api")',
            createpodioapp: '@Url.Action("CreatePodioApp", "Api")',
            updatepodioapp: '@Url.Action("UpdatePodioApp", "Api")',
            deletepodioapp: '@Url.Action("DeletePodioApp", "Api")',
            syncpodioitem: '@Url.Action("SyncPodioItem", "Api")',
            getlinks: '@Url.Action("GetLinks", "Api")',
            getsyncevents: '@Url.Action("GetSyncEvents", "Api")',
        };
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
